.about-us{
    max-width: 100%;
    padding: 20px;
    background: #ada6c5;
    border-radius: 24px;
    border: 1px solid #f5f5f5;
    margin-bottom: 25px;
}

.our-team__item{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin-left: 18%;
    margin-bottom: 10px;
}

.leader, .vice-leader{
    position: inherit;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
    transition: all .5s ease-in-out;
    width: 400px;
    background: #ffffff;
    border-radius: 24px;
    border: 1px solid #f5f5f5;
}

.photos{
    padding: 8px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5f5f5;
}

.photos img{
    width: 72px;
    height: 72px;
    border-radius: 20px;
    object-fit: cover;
}

.labels{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.labels span{
    background: #160F3C;
    color: #f5f5f5;
    padding: 4px 12px;
    border-radius: 8px;
}

.summaries{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.summary{
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.summary label{
    font-weight: 400;
    color: #888;
    text-align: left;
}

.summary span{
    font-weight: 500;
    font-size: 14px;
    color: #555;
    text-align: left;
}

.more{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.know-more{
    height: 40px;
    width: 140px;
    background: #160F3C;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 600;
    color: #f5f5f5;
    margin-top: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.know-more:hover{
    transform: translateY(-8px);
    scale: 1.1;
    color: #7464d3;
}

.follow-us{
    padding: 20px;
    background: #ada6c5;
    border-radius: 15px;
    border: 1px solid #f5f5f5;
    width: 250px;
}

.follow-us h4{
    padding-left: 15px;
}

.follow-us a img{
    padding-left: 10px;
}