.bg-image{
    background-size: cover;
    height: 100vh;
}
.form-card {
<<<<<<< HEAD
    width: 90%;
=======
    width: 40%;
>>>>>>> 33c379c040b1109819766e61b6b50dd1f4b7f10d
}

.form-title {
    font-size: 1.4rem;
}

.form-subtitle {
    font-size: 1.2rem;
<<<<<<< HEAD
}

@media screen and (min-width: 576px) {
    .form-card {
        width: 60%;
    }
}

@media screen and (min-width: 840px) {
    .form-card {
        width: 40%;
    }
=======
>>>>>>> 33c379c040b1109819766e61b6b50dd1f4b7f10d
}